body {
  font-size: 5mm;
  font-family: sans-serif;
  margin: 5mm;
}

input {
  font-size: 5mm;
  font-family: monospace;
}

input[type="button"] {
  font-family: sans-serif;
}

input[type="submit"] {
  font-family: sans-serif;
}

form, p {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 0.25em;
}
